

html {
  font-size: 62.5%;
}

header {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  border-bottom: 2px solid black;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

.Logo {
  height: 6rem;
  padding-left: 5px;
}
.text{
  font-size: 40px;
  font-weight: bold;
  font-family:Helvetica, sans-serif;
  color: #7c5246;
  text-transform:uppercase;
  margin: auto;

}

a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: #7c5246;
  text-decoration: none;
  padding-bottom: .5rem;
}

body{
  background-image: url(images/backgrounds/Donut.jpg);
  background-size:cover;
  background-repeat: no-repeat;

}

.design{
  background-color: #ff8087;
  border: 2px solid #ff8087;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  margin:20%;
  
}


h1{
  color:white;
  padding:10px;
  text-align: center;
  font-size: 500%;
}

.container input{
  background-color: white;
  width:70%;
  margin-left:12%;
  font-size:20px;
  padding:16px;
  border-radius: 10px;
  border-color:#7c5246;
  margin-bottom: 20px;
}

textarea{
  background-color: white;
  width:70%;
  margin-left:12%;
  font-size:20px;
  padding:16px;
  border-radius: 10px;
  border-color:#7c5246;
  margin-bottom: 25px;
}

button{
  background-color: white;
  border-radius: 20px;
  border-color:#7c5246;
  padding: 10px;
  text-align: center;
  display:flex;
  margin-left:40%;
  margin-right:40%;
}

.center-container {
  display: flex;
  justify-content: center;
}

.Ptype {
  text-align: center;
  background-color: white;
  border-radius: 20px;
  border:5px solid #7c5246;
  color:#7c5246;
  font-size: 30px;
  padding: 10px;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 50%;
}


h3{
  color:white;
  padding:10px;
  text-align: center;
  font-size: 300%;
}

/*------------ Footer start here -----------*/

footer {
  background-color: white;
  text-align: center;
  padding: 2rem 1rem;
  margin-top: 2rem;
}

footer .share {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

footer .share img {
  height: 6rem;}

footer .share a {
  height: 5rem;
  width: 5rem;
  font-size: 2rem;
  line-height: 5rem;
  color: #eee;
  border-radius: 50%;
  margin: 2rem; 
}


footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 1rem;
}

footer .links a {
  padding: .7rem 2rem;
  color: #ffffff;
  border: .1rem solid lightgray;
  font-size: 2rem;
  background-color: #ff8087;
}

.credit {
  color: #7c5246;
  font-weight: lighter;
  border-top: .1rem solid #eee;
  padding: 1rem;
  text-align: center;
}

.done {
  color: #ff8087;
}



