

body{
  background-image: url(images/backgrounds/Loginpic.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  
}

h1{
  color:#ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 80px;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 20px;
  margin-top:auto; 
  margin-bottom: auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  height: auto; 
  margin: auto;
  margin-top: auto; 
}
.Name {
  text-align: center; 
  margin-bottom: 2rem;
  border-radius: 10px;
}

.centered-label {
  color: white;
  margin-bottom: 1.5px;
  font-weight: bold;
  display: block;
  text-align: center;
}

.Name p {
  display: block;
  margin: 0 auto;
}

  .sub {
    margin-bottom: 2rem;
    border-radius: 10px;
    text-align: center; 
  }


.container2{display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 10.5px;
  padding-top: 5px;
}