header {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  border-bottom: 2px solid black;
}

.Logo {
  height: 6rem;
  padding-left: 5px;
}
.text{
  font-size: 40px;
  font-weight: bold;
  font-family:Helvetica, sans-serif;
  color: #7c5246;
  text-transform:uppercase;
  margin: auto;

}

a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: #7c5246;
  text-decoration: none;
  padding-bottom: .5rem;
}
/*----------Header end here------*/

/*------------ main start here -----------*/

body {
  background-color:#fa7f85 ;
}
  
.menu{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 30px;
  grid-gap: 20px;
  margin:auto;
}

.item img {
  width:100px;
  height: 100px;
}

.item img:hover{
  transform: scale(1.04);
}



.item button{
  background-color: white;
  color:#fa7f85;
  border: 2px solid transparent;
  text-decoration:none;
  padding:10px 20px;
  border-radius: 25px;
  font-size:17px;
  font-weight:bold;
  margin-top: 15px;
  }
.item button:hover{
  transform: scale(1.2);
  background-color: transparent;
  border: 2px solid #fa7f85;
  color: #fa7f85;
  transition: 0.4s ease;
  cursor: pointer;}

h2{color:#7c5246}


p{color:#7c5246}

#BP{
  background-color:white;
  color:#7c5246;
  font-style:italic;
  font-weight:bold;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  margin:20%;
}

#others{
  background-color:white;
  color:#7c5246;
  font-style:italic;
}




  @media (max-width: 720px) {
    .flex-container { flex-direction: column;
                    }


/********** Footer **********/
    footer .links {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 2rem 0;
      gap: 1rem;
    }

    footer .links a {
      padding: .7rem 2rem;
      color: #ffffff;
      border: .1rem solid lightgray;
      font-size: 2rem;
      background-color: #ff8087;
    }

    .credit {
      color: #7c5246;
      font-weight: lighter;
      border-top: .1rem solid #eee;
      padding: 1rem;
      text-align: center;
    }

    .done {
      color: #ff8087;
    }

    