
html{
  font-size: 62.5%;
}


header{
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  border-bottom: 2px solid black;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

.Logo{
  height: 6rem;
  padding-left: 5px;
}
.text{
  font-size: 40px;
  font-weight: bold;
  font-family:Helvetica, sans-serif;
  color: #7c5246;
  text-transform:uppercase;
  margin: auto;

}

a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: #7c5246;
  text-decoration: none;
  padding-bottom: .5rem;
}
/*----------Header end here------*/




h1{color:#7c5246;
   margin-top: 5rem;}

table{border: 1px solid #4e342d;
     width: 80%;
     margin-bottom: 5rem;
     font-size:1rem}


p{ font-size: 1.6rem;
 color:#7c5246;}
th{font-size: 1.6rem;color:#7c5246;}
td{font-size: 1.6rem;color:#7c5246;}
li{font-size: 1.6rem;color:#7c5246;
  margin-left: 20px;}
textarea{border:2px solid #7c5246;}

.link2{text-decoration:none;
       color:#fa7f85;
      font-size:1.6rem;}


*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;}

.main{ display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;}

.full-boxer{display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;}

.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;}

.comment-box:hover{margin-top: 12px;}

.comment-box{width: 450px;
    background: white;
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 3px 3px 25px rgba(0,0,0,0.3);}

.Profile{display: flex;
    align-items: center;}

.profile-image{width: 70px;
    height: 70px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.3);
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;}

.profile-image img{width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;}

.Name{display: flex;
    flex-direction: column;
    margin-left: 10px;
  padding-top:20px;}

.Name strong{color: black;
    font-size: 18px;}

.Name span{color: gray;
    margin-top: 2px;}

.comment p{color: black;}

.bu3{border: 0.7px solid white;
   width:165px;
    height:50px;
    margin-left: 18px;
    background-color:white;
    box-shadow: 3px 3px 25px rgba(0,0,0,0.3);}


footer {
  background-color: white;
  text-align: center;
  padding: 2rem 1rem;
  margin-top: 2rem;
}

footer .share {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

footer .share img {
  height: 6rem;}

footer .share a {
  height: 5rem;
  width: 5rem;
  font-size: 2rem;
  line-height: 5rem;
  color: #eee;
  border-radius: 50%;
  margin: 2rem; 
}


footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 1rem;
}

footer .links a {
  padding: .7rem 2rem;
  color: #ffffff;
  border: .1rem solid lightgray;
  font-size: 2rem;
  background-color: #ff8087;
}

.credit {
  color: #7c5246;
  font-weight: lighter;
  border-top: .1rem solid #eee;
  padding: 1rem;
  text-align: center;
}

.done {
  color: #ff8087;
}



